<div class="header">
  <div class="right">
    <a
      routerLink="/login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="nav-links"
      >Login</a
    >
    <a
      routerLink="/signup"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="nav-links"
      >Register</a
    >
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="nav-links"
      (click)="logout()"
      >Logout</a
    >
  </div>
</div>
