<form class="registration-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <label htmlFor="username" class="label"> Username </label>
  <input
    [(ngModel)]="username"
    name="username"
    type="text"
    placeholder="Username"
    required
    class="inputFeild"
    minlength="5"
    #usernameCtrl="ngModel" />
  <div *ngIf="usernameCtrl.invalid && usernameCtrl.touched">
    <p class="error">Enter a valid Username</p>
  </div>

  <label htmlFor="email" class="label"> Email </label>
  <input
    [(ngModel)]="email"
    name="email"
    type="email"
    placeholder="example@example.com"
    required
    class="inputFeild"
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
    #emailCtrl="ngModel" />

  <div *ngIf="emailCtrl.errors?.['pattern'] && emailCtrl.touched" class="error">
    <p>Enter a valid email</p>
  </div>

  <label htmlFor="password" class="label"> Password </label>
  <input
    type="password"
    name="password"
    placeholder="password"
    required
    class="inputFeild"
    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
    [(ngModel)]="password"
    #passwordCtrl="ngModel" />

  <div *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="error">
    <p *ngIf="passwordCtrl.errors?.['pattern']">Enter a valid passowrd</p>
  </div>

  <label htmlFor="confirmPassword" class="label"> Confirm Password </label>
  <input
    [(ngModel)]="confPassword"
    type="password"
    name="confirmPassword"
    placeholder="confirm Password"
    required
    class="inputFeild"
    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
    #confirmPasswordCtrl="ngModel" />

  <div
    *ngIf="confirmPasswordCtrl.invalid && confirmPasswordCtrl.touched"
    class="error">
    <p *ngIf="confPassword !== password">Passwords do not match.</p>
  </div>

  <button type="submit" [disabled]="form.invalid">Register</button>
</form>
