<div class="login-page">
  <h1>Login</h1>
  <form class="login-form" (ngSubmit)="onLogin()" #form="ngForm">
    <label for="username">Username</label>
    <input
      [(ngModel)]="username"
      type="text"
      placeholder="Username"
      name="username"
      required
      minlength="5"
      #usernameCtrl="ngModel" />
    <div *ngIf="usernameCtrl.invalid && usernameCtrl.touched">
      <p class="login-error">Enter a valid Username</p>
    </div>

    <label for="password">Password</label>
    <input
      [(ngModel)]="password"
      type="password"
      placeholder="Password"
      name="password"
      required
      pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
      minlength="8"
      #passwordCtrl="ngModel" />
    <div *ngIf="passwordCtrl.errors?.['pattern'] && passwordCtrl.touched">
      <p class="login-error">Enter a valid password</p>
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>

  <div>
    <a routerLink="/update-password">
      <div class="font">Forget your password?</div>
    </a>
    <hr />
    <div class="font">Don't have an accout?</div>
    <div class="felxSignin">
      <a
        routerLink="/signup"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">
        <h6 class="color">Create a New Account</h6>
      </a>
    </div>
  </div>
</div>
